@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }

  body{
    background: #131313;
  }

  .navbar {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    top: 0;
    z-index: 999;
    background: #131313;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbar__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
  }

  #navbar__logo span{
      width: 15px;
      height: 15px;
      border-radius: 50px;
      background-color: #38ef7d;
      margin: 5px;
      position: relative;
      top: 4px;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #11998e;  
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  
    background: linear-gradient(to right, #38ef7d, #11998e); 
    color: #fff;
    text-align: center;
    transition: 300ms ease-in-out;
}

  .button:hover{
    opacity: 0.8; 
  }
  
  .navbar__links:hover {
    color: #11998e;
    transition: all 0.3s ease;
  }


  .pricing_container{
      display: flex;
      justify-content: center;
      padding: 20px;
  }

  .promo_container{
      width: 450px;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      padding-bottom: 0;
      background: #38ef7d;
      border-radius: 10px;
  }

  .promo_container img{
      width: 300px;
  }

  .promo_info h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
  }

  .promo_info p{
      font-size: 1.2rem;
      font-weight: 600;
      color: #fff;
      margin-bottom: 20px;
  }

  .plans_container{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 10px;
  }

  .plans_title{
      color: #fff;
      font-size: 2rem;
      font-weight: 600;
      margin: 0 20px;
  }

  .cards_container{
      display: flex;
      flex-wrap: wrap;
  }

  .pricing_card{
      background: #FDFAF6;
      padding: 20px;
      margin: 20px 10px 0 10px;
      border-radius: 10px;
      height: 450px;
      width: 300px;
      max-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      transition: 200ms ease-out;
  }

  .pricing_card:hover{
    transform: translateY(-10px);
  }

  .card_title{
      font-size: 2rem;
      font-weight: 600;
      color: #212121;
  }

  .card_info{
      font-size: 1.2rem;
      font-weight: 400;
    }

    .card_price{
        margin: 10px 0;
        font-weight: 600;
    }

    .pricing_card_btn{
        margin: 10px 0;
        transition: 200ms ease-out;
    }

    .pricing_card_btn:hover{
        opacity: 0.7;
    }

    .pricing_card_btn a{
        text-decoration: none;
        background: #38ef7d;
        color: #FDFAF6;
        font-size: 1rem;
        font-weight: 600;
        padding: 10px 40px;
        border-radius: 5px;
    }


  .footer_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #212121;
    padding: 80px;
  }

  .footer_links{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
  }

  .footer_links_container{
    width: 100%;
    margin: 0 10px;
  }

  .footer_links_container h1, .footer_links_container p{
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }

  .footer_links_container h1:hover, .footer_links_container p:hover{
    opacity: 0.8;
  }

  .footer_links_container h1{
    margin-bottom: 30px;
  }

  .footer_links_container p{
    margin-bottom: 10px;
  }

  .copyright p{
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
  }





  @media screen and (max-width: 960px) {
    .navbar__container {
      background: #131313;
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .active {
      background: #131313;
      top: 8%;
      opacity: 1;
      z-index: 99;
      font-size: 1rem;
      transition: all 0.5s ease;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
      height: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 3%;
      right: 5%;
      transform: translate(3%, 4%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .pricing_container{
        flex-direction: column;
        align-items: center;
    }

    .promo_container{
        max-width: 350px;
    }

    .plans_title{
        text-align: center;
        margin: 20px 0;
    }

    .cards_container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pricing_card{
        height: 350px;
        margin: 10px;
        margin-bottom: 10px;
    }

    .footer_container{
        padding: 50px 20px;
      }
  
      .footer_links{
        flex-direction: column;
        margin-bottom: 20px;
      }
  
      .footer_links_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        margin-bottom: 50px;
      }
  
      .footer_links_container h1, .footer_links_container p{
        font-size: 0.8rem;
      }
  }